body {
  background-color: #282c34;
  font-family: 'Roboto', sans-serif;

  button {
    border-radius: 5px;
    height: 30px;
    background-color: #6966ff;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    border: 1px solid white;
  }

  button:hover {
  -webkit-transform: scale(1.07);
  -ms-transform: scale(1.07);
  transform: scale(1.07);
  }
}
