body {
  background-color: #282c34;
  font-family: 'Roboto';

  button {
    border-radius: 6px;
  }

  button:hover {
  -webkit-transform: scale(1.07);
  -ms-transform: scale(1.07);
  transform: scale(1.07);
  }
}
