.square {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  float: left;
}

.game-info {
  margin-left: 600px;
}

.container {
  height: 300px;
  width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
