.winner {
  display: flex;
  flex-direction: column;
  // justify-content: flex-end;
  align-items: center;
  font-family: 'Roboto';
  font-size: 20pt;
  color: white;

  button {
    background-color: white;
    color: black;
    border-radius: 5px;
  }
}
